*{ 
	font-family:"微软雅黑"; 
	font-size:12px; 
	color:#5f5f5f;}
body{ 
	margin:0px; 
	padding:0px; 
	background:#fff;
	background-position: center;
	background-image: url(../img/404.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed; 
	text-align: center ;
}
a{
	font-family:"微软雅黑"; 
	font-size:12px; color:#5f5f5f; 
	text-decoration:none;
}
a:hover{ 
	color:#f00; 
	border:0px;
}
#tips{
	margin-top: 200px;	
	font-family: arial;
	font-size: 15px;
}
.btn{
	border: 1px solid #288BC4;
	border-radius: 10px;
}

